body {
    background-color: #F6F7EB;
}

#name-title{
    max-width: 1837px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #F6F7EB;
    background-color: #393E41;
    padding: 5px;
    margin-bottom: 1px;
}

#row1{
    display: inline-flex;
    flex-wrap: wrap;
}

#location {
    width: 300px;
    min-height: 300px;
    background-color: #f18973;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
  }

#paraabm {
    max-width: 1525px;
    font-size: large;
    background-color: #A77464;
    color: #F6F7EB;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
}

#row2{
    display: inline-flex;
    flex-wrap: wrap;
}

#maml {
    min-width: 347px;
    background-color: #3F612D;
    text-align: center;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
}

#list1{
    max-width: 1240px;
    font-size: 16px;
    color: #F6F7EB;
    background-color: #7698B3;
    padding: 13px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;    
}

#extra1 {
    color: #F6F7EB;
    background-color: #59594A;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

#newsletter {
    background-color: #9F9FED;
    text-align: left;
    width: 180px;
    padding: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    
}

h3 {
    color: #F6F7EB;
    text-shadow: #393E41 -1px -1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}









a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}